<<<<<<< HEAD
<div style="background-color: grey; padding: 5% 25%">
    <div class="register">
      <div>
        <form action="/user/register" method="POST">
=======
<style>
  * {
    margin: 0;
    padding: 0;
  }

  .custom-select {
    width: 13%;
    margin-right: 5px;
  }

  .gender,
  .dob {
    width: 50%;
  }

  .btnRegister {
    margin: 15px 0;
    padding: 10px 10px;
  }

  .register {
    /* border: 1px solid black; */
    background-color: rgb(175, 175, 175);
    padding: 40px;
    /* width: 50%; */
    /* margin: 5% 25%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  /* @media screen and (max-width: 800px) {
      .gender,
      .dob {
        width: 100%;
      }
    } */
</style>

<section>
  <div style="background-color: grey; padding: 5% 25%">
    <div class="register">
      <div>
        <form>
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
          <h1>Register</h1>
          <div class="form-group">
            <label for="exampleInputEmail1">Email : </label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Email"
<<<<<<< HEAD
              name="email"
=======
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Username : </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputUsername1"
              aria-describedby="usernameHelp"
              placeholder="Username"
<<<<<<< HEAD
              name="username"
=======
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Phone Number : </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPhone1"
              aria-describedby="phoneHelp"
              placeholder="Phone Number"
<<<<<<< HEAD
              name="phone"
=======
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password :</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
<<<<<<< HEAD
              name="password"
=======
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password :</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputConfirmPassword1"
              placeholder="Confirm Password"
<<<<<<< HEAD
              name="confirm"
=======
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Address : </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputAddress1"
              aria-describedby="addressHelp"
              placeholder="Address"
<<<<<<< HEAD
              name="address"
=======
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputDOB1">Date Of Birth</label>
            <div>
              <input
                type="date"
                class="form-control dob"
                aria-describedby="addressHelp"
                id="dob"
<<<<<<< HEAD
                name="birthDate"
=======
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
                required
              />
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputDOB1">Gender</label>
            <div>
<<<<<<< HEAD
              <select class="custom-select gender" name="gender">
                <option selected>Gender</option>
                <option value="man">Man</option>
                <option value="woman">Woman</option>
=======
              <select class="custom-select gender">
                <option selected>Gender</option>
                <option value="1">Man</option>
                <option value="2">Woman</option>
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
              </select>
            </div>
          </div>

          <p>Already have account? <a href="login.html">Login</a></p>

<<<<<<< HEAD
          <button
=======
          <a
            href="login.html"
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
            type="submit"
            class="btnRegister btn btn-primary"
            style="background-color: white; color: black; border: none"
          >
            Register
          </a>
        </form>
      </div>
    </div>
  </div>
<<<<<<< HEAD

  <!-- button sementara -->
  <div style="position: fixed; right: 2%; bottom: 2%; z-index: 2">
    <!-- Default dropup button -->
    <div class="btn-group dropup">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Change User
      </button>
      <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
        Hanya Sementara
        <li class="dropdown-divider"></li>
        <li role="button" id="toNoUsr">No User</li>
        <li role="button" id="toConsumer">Consumer</li>
        <li role="button" id="toOwner">Owner</li>
      </ul>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <script>
    var toNoUsr = document.getElementById("toNoUsr");
    var toConsumer = document.getElementById("toConsumer");
    var toOwner = document.getElementById("toOwner");

    var cart = document.getElementById("cartBtn");
    var consumerBtn = document.getElementById("consumerBtn");
    var ownerBtn = document.getElementById("ownerBtn");
    var regisLogIn = document.getElementById("regisLogIn");

    var cartResp = document.getElementById("cartResp");
    var consumerBtnResp = document.getElementById("consumerResp");
    var ownerBtnResp = document.getElementById("ownerResp");
    var regisLogInResp = document.getElementById("regisLogInResp");

    function noUserState() {
      cart.style.display = "none";
      consumerBtn.style.display = "none";
      ownerBtn.style.display = "none";
      regisLogIn.style.display = "initial";

      cartResp.style.display = "none";
      consumerResp.style.display = "none";
      ownerResp.style.display = "none";
      regisLogInResp.style.display = "initial";
    }

    noUserState();

    toNoUsr.onclick = noUserState;

    toConsumer.onclick = function () {
      cart.style.display = "initial";
      consumerBtn.style.display = "initial";
      ownerBtn.style.display = "none";
      regisLogIn.style.display = "none";

      cartResp.style.display = "initial";
      consumerResp.style.display = "initial";
      ownerResp.style.display = "none";
      regisLogInResp.style.display = "none";
    };
    toOwner.onclick = function () {
      cart.style.display = "none";
      consumerBtn.style.display = "none";
      ownerBtn.style.display = "initial";
      regisLogIn.style.display = "none";

      cartResp.style.display = "none";
      consumerResp.style.display = "none";
      ownerResp.style.display = "initial";
      regisLogInResp.style.display = "none";
    };

    $(".logoutBtn").click(noUserState);
  </script>
=======
</section>
>>>>>>> 118a7acd19767898c2c74326947f7407c2a3a385
