* {
    margin: 0;
}
body {
    font-family: "Boogaloo", cursive;
    /* background: linear-gradient(#232526, #414345); */
    background: url(1.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
footer {
    width: 100%;
    background-color: #333;
    color: #eee;
    text-align: center;
    padding: 1em;
}
footer img {
    width: 30px;
    background-color: #eee;
    padding: 2px;
    border-radius: 4px;
}
.menuInfo {
    min-height: 80vh;
}
#optionBtn {
    cursor: pointer;
}
header {
    /* background: -webkit-linear-gradient(to left, #b7e9f7, #7ad7f0, #b7e9f7); */
    /* background: linear-gradient(to left, #b7e9f7, #7ad7f0, #b7e9f7); */
    background: linear-gradient(#232526, #414345);
    color: white;
}
.text-center1 {
    font-family: fantasy;
}
.slide {
    position: absolute;
    background: url(1.jpg);
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    z-index: 10;
    box-shadow: #444 1px 0 6px 2px;
    transition: 0.2s ease;
    opacity: 0;
}
.slideIn {
    opacity: 1;
    top: 48px;
}
.menuCard {
    font-family: "Kalam", cursive;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    border: none;
    background: linear-gradient(#232526, #414345);
}
div button {
    width: 120px;
    margin: 5px auto;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    font-family: fantasy;
}
#current-word {
    /* font-family: 'Source Code Pro', monospace; */
    font-family: arial;
    color: white;
}

p,
h3,
h4 {
    color: white;
}
